/* expansion panel max width for having an equal span in cards */
.mat-expansion-panel-header-title {
  max-width: 30%;
}


.content {
  /* flex-grow: 2; */
  /* align-self: flex-end; */
}
.generalDiv {
  margin-top: 10px;
}
.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 3px solid #bbb;
}
