@if(this.mapFocused){
<div id="focusOverlay"></div>
}
<div (focusout)="mapUnfocusedEvent($event)" (focusin)="mapFocusedEvent($event)"
  aria-label="Schulkarte. Zum Auswählen einer Institution mit + so lange zoomen bis diese alleine auf der Karte ist, dann die Leertaste nutzen"
  #mapDiv id="map" class="map" tabindex="0" (keydown)="keyboardPressedOnMap($event)"></div>
<div id="pointOverlayWrapper" #pointOverlayWrapper>
  <div #addPointComponentOverlay id="addPointComponentOverlay"></div>
  <div id="showPointComponentOverlayContainer">
    <div #showPointComponentOverlay id="showPointComponentOverlay"></div>
  </div>
</div>

<div style="
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    display: block;
    top: 0%;
  ">
  <div class="mobile-wrapper">
    <button *ngIf="!areaSelectionActive" mat-raised-button color="primary" (click)="showAllInstitutions()">Öffne
      Übersicht</button>
    <button id="switchToAccessibleViewButton" *ngIf="!areaSelectionActive" mat-raised-button color="primary"
      (click)="switchToAccessibleView()"> Öffne Textuelle Ansicht</button>
  </div>
  <button *ngIf="areaSelectionActive" mat-raised-button color="primary" (click)="removeLastSetDrawingPoint()">
    Letzten gesetzten Punkt entfernen
  </button>
  <button *ngIf="areaSelectionActive || institutionSelectionActive" mat-raised-button color="primary"
    (click)="abortDrawing()">
    Abbrechen
  </button>
  <button *ngIf="areaSelectionActive" mat-raised-button color="primary" (click)="applyDrawing()">
    Bestätigen
  </button>
</div>

<div id="footer">
  <app-footer [projectParamId]="projectParamId"></app-footer>
</div>