#olOverlayContainer {
  width: 80%;
}

.ol-overlay-container {
  /* width: 80% */
}

@media only screen and (max-width: 500px) {
  #showPointComponentOverlayContainer {
    max-width: 350px;
  }
}

@media only screen and (min-width: 601px) {
  #showPointComponentOverlayContainer {
    width: 80%;
    min-width: 600px;
  }
}
