<mat-expansion-panel>
  <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
    <mat-panel-title class="expansionsPanelHeaderTitle"> {{ functionalityName }}-Ansprechperson </mat-panel-title>
    <!-- <mat-panel-description>
      Ansprechperson zum Thema {{ functionalityName }}
    </mat-panel-description> -->
  </mat-expansion-panel-header>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Personenkategorie</mat-label>
      <mat-select [formControl]="functionality" (opened)="personCategoryOpened()">
        <mat-option *ngFor="let func of functionalities" [value]="func.name">{{
          func.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Vorname</mat-label>
      <input matInput [formControl]="prename" required />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Nachname</mat-label>
      <input matInput [formControl]="lastname" required />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>E-Mail</mat-label>
      <input
        (click)="emailClicked()"
        matInput
        [formControl]="email"
        [matAutocomplete]="auto"
      />
    </mat-form-field>
    <!-- (optionSelected)="autocompleteChoosen($event.option.value)" -->
    <mat-autocomplete
      #auto="matAutocomplete"
    >
      <mat-option *ngFor="let mail of emails" [value]="mail"
        >{{ mail }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Telefonnummer</mat-label>
      <input matInput [formControl]="phonenumber" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Funktionalität</mat-label>
      <input matInput [formControl]="institutionalFunctionality" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Projektbeschreibung</mat-label>
      <input matInput [formControl]="projectDescription" />
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="warn" (click)="removePersonFromSchool()">
      Person löschen
    </button>
  </div>
</mat-expansion-panel>
