<mat-expansion-panel *ngIf="isFilled()">
    <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
        <mat-panel-title class="contentHeaderPanel expansionsPanelHeaderTitle">
            {{functionality.value}}
        </mat-panel-title>
        <!-- <mat-panel-description>
            Weitere Infos
        </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="entrySet">
        <div class="subheadline">Vorname:</div>
        <h4 class="shownContentText">{{prename.value}}</h4>
    </div>
    <div class="entrySet">
        <div class="subheadline">Nachname:</div>
        <h4 class="shownContentText">{{lastname.value}}</h4>
    </div>
    <div class="entrySet" *ngIf="email.value">
        <div class="subheadline">Email-Adresse:</div>
        <h4 class="shownContentText">{{email.value}}</h4>
    </div>
    <div class="entrySet" *ngIf="phonenumber.value">
        <div class="subheadline">Telefonnummer:</div>
        <h4 class="shownContentText">{{phonenumber.value}}</h4>
    </div>
    <div class="entrySet" *ngIf="institutionalFunctionality.value">
        <div class="subheadline">Funktion:</div>
        <h4 class="shownContentText">{{institutionalFunctionality.value}}</h4>
    </div>
    <div class="entrySet">
        <div class="subheadline">Projektbeschreibung:</div>
        <h4 class="shownContentText">{{getProjectDescription()}}</h4>
    </div>
</mat-expansion-panel>