<mat-expansion-panel *ngIf="isFilled()">
    <mat-expansion-panel-header [collapsedHeight]="collapsedHeight">
        <mat-panel-title>
            {{functionality.value}}
        </mat-panel-title>
        <mat-panel-description>
            Weitere Infos
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="entrySet">
        <div class="subheadline">Vorname:</div>
        <h4>{{prename.value}}</h4>
    </div>
    <div class="entrySet">
        <div class="subheadline">Nachname:</div>
        <h4>{{lastname.value}}</h4>
    </div>
    <div class="entrySet">
        <div class="subheadline">Email-Adresse:</div>
        <h4>{{email.value}}</h4>
    </div>
    <div class="entrySet">
        <div class="subheadline">Telefonnummer:</div>
        <h4>{{phonenumber.value}}</h4>
    </div>
    <div class="entrySet">
        <div class="subheadline">Projektbeschreibung</div>
        <h4>{{getProjectDescription()}}</h4>
    </div>
</mat-expansion-panel>