.borderBox {
  border-style: solid;
  padding: 10px;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
}

.accordion-expansion-panel {
  margin-left: 0;
  background-color: rgb(211, 211, 211);
  width: 100%;
}
#showAllInstitutionsButton {
  margin-bottom: 10px;
  align-self: center;
}
#overlayContainer {
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 100%;
  margin-left: 3%;
}
#settingsMenuText {
  align-self: center;
}
.expansion-panel {
  max-width: 100%;
}
button {
  white-space: pre-wrap !important;
}
