.borderBox {
  border-style: solid;
  padding: 10px;
}

.criteriaComponentButton {
  width: 100%;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
}

span.mat-slide-toggle-content {
  word-wrap: break-word;
  white-space: normal !important;
}

.accordion-expansion-panel {
  margin-left: 0;
  background-color: rgb(211, 211, 211);
  width: 100%;
}

#showAllInstitutionsButton {
  margin-bottom: 10px;
  align-self: center;
}

.borderContainer {
  display: flex;
  flex-direction: column;
  /* border-style: solid; */
  margin-left: 3%;
}

.settingsMenuExplainationText {
  text-align: center;
  align-self: center;
  align-content: center;
  font-style: italic;
}

.expansion-panel {
  max-width: 100%;
}

.slide-toggle-spacer{
  height: 20px;
}
button {
  white-space: pre-wrap !important;
}

.bigText {
  font-size: 15pt;
}

.mediumText {
  font-size: 12pt;
}

.matSlideLabel {
  font-size: 18px;
  vertical-align: top;
  display: inline-block;
  line-height: 22px;

}