<div id="overallContent">
    <div id="headliner">
        <h1>Barrierefreie Übersicht</h1>
        <h3>Dies ist die barrierefreie Übersicht des Schoolfinders. Hier bekommen Sie eine reine textuelle
            Repräsentation
            der gebotenen Inhalte angezeigt</h3>
    </div>
    <div class="contentTable">
        <mat-list *ngFor="let school of data">
            <h2>{{school.schoolName}}</h2>
            <div *ngIf="school.schoolPicture">
                <img [src]="school.schoolPicture" [alt]="school.alternativePictureText">
            </div>
            <div *ngFor="let person of school.personSchoolMapping">
                <mat-divider></mat-divider>
                <div mat-subheader>{{person.functionality}}</div>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div mat-line>Name: {{person.person.prename}} {{person.person.lastname}}</div>
                    <div mat-line>E-Mail: {{person.person.email}}</div>
                    <div mat-line>Telefonnummer: {{person.person.phoneNumber}}</div>
                    <div mat-line
                        style="word-break: break-all; word-wrap: break-word; overflow: visible; white-space: normal;">
                        Spezifischer Inhalt:
                        {{getContentTextForPerson(school, person.functionality)}}
                    </div>
                </mat-list-item>
            </div>
            <mat-divider></mat-divider>
        </mat-list>

    </div>
</div>